.loaderWrapper{
    background: rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
    align-items: center;
}
.loaderWrapper div{
    margin: 0 auto !important;
}