.questionWrapper input{
    text-align: left !important;
    margin-bottom: 10px;
    float: right;
    margin-right: 20%;
}
.questionWrapper{
    border: 1px solid #666666;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    margin-top: 15px;
    box-shadow: 2px 3px 3px #a3a3a3;
    overflow: auto;
}
.questionWrapper .icon{
    margin-left: 8px;
    cursor: pointer;
}

.questionWrapper .group{
    clear: both;
}

.questionWrapper button{
    display: block;
}

.examWrapper{
    margin-top: 10px;
}

.examWrapper .optionGroup{
    margin-left: 20px;
}
.examWrapper .group{
    margin-bottom: 20px;
}

