.discussionList_body .discussion{
    cursor: pointer;
}

.discussion_body{
    width:70%;
}

.discussion_body .discussion{
    border: 1px solid lightgray;
    padding: 10px 10px;
    box-shadow: 1px 1px 3px #a3a3a3;
    overflow: auto;
}

.discussion .discussionContent {
    margin-left: 20px;
}

.author{
    color: gray;
    display: block;
    margin-left: 20px;
}

.discussion_body .thread{
    margin-top: 20px;
    border: 1px solid lightgray;
    clear: both;
    padding: 10px 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #a3a3a3;
}

.discussion_body .reply{
    float: right;
    display: block;
    margin-right: 12px;
}

.discussion_body .reply .btn{
    padding: 0 !important;
}

.discussion_body .replyContainer{
    clear: both;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px #a3a3a3;
    padding: 10px 10px;
    margin-top: 1px;
}

.thread .threadContent{
    display: inline;
    margin-left: 10px;
}

.discussion_body .NewDiscussionWrapper{
    clear:both;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px #a3a3a3;
    padding: 10px 10px;
}

.NewDiscussionWrapper input[type=text]{
    width: 70% !important;
}



@media only screen and (max-width: 768px){ 
    .discussion_body{
        width:100%;
    }
}