.dzu-previewContainer{
    padding: 10px 3% !important;
}

.dzu-submitButtonContainer{
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dzu-submitButton{
    background-color: var(--submit-color) !important;
    border-color: var(--submit-color) !important;
}

.styles_modal__gNwvD{
    width: 70% !important;
}

.dzu-inputLabel{
    color: var(--primary-color)
}

.dzu-inputLabelWithFiles{
    background-color: var(--primary-color);
    color: white;
}


@media only screen and (max-width: 425px){
    .styles_modal__gNwvD{
        width: 100% !important;
    }
    
}