.dashboard_wrapper{
    margin-left: 75px;
}
.mainLogo{
    display: block;
    width: 63px;
    height: 60px;
    border: 2px solid purple;
}
.sidenav---sidenav---_2tBP{
    background: purple !important;
}