.dashboard_wrapper{
    margin-left: 75px;
}
.mainLogo{
    display: block;
    width: 63px;
    height: 60px;
    border: 2px solid purple;
}
.sidenav---sidenav---_2tBP{
    background: purple !important;
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tool:hover .tooltiptext {
visibility: visible;
}

.mySepecialClass {
    background: black!important;
    font-size: 10px !important;
  }

