.errorMessage {
    width: 50%;
    margin-top: 5px;
    color: red;
    font-size: 13px;
}
.hide{
    display: none !important;
}

input{
    text-align: left !important;
}

.quoteWrapper .quote{
    font-size: 85px;
    color: gray;
    font-family: initial;
}

.quoteWrapper .quoteContent{
    font-size: 20px
}

.quoteWrapper .author{
    color: gray
}