.errorMessage {
    width: 50%;
    margin-top: 5px;
    color: red;
    font-size: 13px;
}
.warningMessage {
    width: 50%;
    margin-top: 5px;
    color: orange;
    font-size: 13px;
}

.hide{
    display: none !important;
}

input{
    text-align: left !important;
}

.quoteWrapper .quote{
    font-size: 85px;
    color: gray;
    font-family: initial;
}

.quoteWrapper .quoteContent{
    font-size: 20px
}

.quoteWrapper .author{
    color: gray
}

.dzu-previewContainer{
    padding: 10px 3% !important;
}

.dzu-submitButtonContainer{
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.styles_modal__gNwvD{
    width: 70% !important;
}

@media only screen and (max-width: 425px){
    .styles_modal__gNwvD{
        width: 100% !important;
    }
    
}