.RegistrationWrapper{
    align-items: center;
    text-align: center;
}

.RegistrationWrapper input[type=text]{
    width: 87% !important;
}


.RegistrationWrapper #password{
    width: 87% !important;
}
.nameField{
    display: inline-flex;
}

.nameField input[type=text]{
    width: 47%;
}